<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minimasaragon"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET" />
	 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.minimasaragon.InitScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.minimasaragon.Selection"
            android:label="@string/app_name" 
            android:parentActivityName="com.minimasaragon.InitScreen" >
        </activity>
        <activity
            android:name="com.minimasaragon.QueryTime"
            android:label="@string/app_name" 
            android:parentActivityName="com.minimasaragon.Selection" >
        </activity>
         <activity
            android:name="com.minimasaragon.ChronoTime"
            android:label="@string/app_name" 
            android:parentActivityName="com.minimasaragon.Selection" >
        </activity>
         <activity
            android:name="com.minimasaragon.Denuncias"
            android:label="@string/app_name" 
            android:parentActivityName="com.minimasaragon.Selection" >
        </activity>
           <activity
            android:name="com.minimasaragon.Webs"
            android:label="@string/app_name" 
            android:parentActivityName="com.minimasaragon.Selection" >
        </activity>
           <activity
            android:name="com.minimasaragon.TableInfo"
            android:label="@string/app_name" 
            android:parentActivityName="com.minimasaragon.Selection" >
        </activity>
    </application>

</manifest>
